accelerate
annotated-types
astunparse
attrs
colorama
deep-translator
diffusers
distro
duckduckgo_search
fastapi
google-pasta
groq
huggingface-hub
Jinja2
keras
Markdown
numpy
openai
pandas
pgvector
phidata
psycopg
psycopg-binary
pydantic
python-dotenv
PyYAML
setuptools
SQLAlchemy
streamlit
sympy
tensorboard
tensorflow
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
transformers
typer
uvicorn
