accelerate
annotated-types
astunparse
attrs
colorama
deep-translator
distro
duckduckgo_search
fastapi
google-pasta
groq
huggingface-hub
Jinja2
keras
Markdown
numpy
openai
pandas
pgvector
phidata
psycopg
psycopg-binary
pydantic
python-dotenv
PyYAML
setuptools
SQLAlchemy
streamlit
sympy
tornado
tqdm
typer
uvicorn
